header {
    height: 90px;
    background: #AB2A19;
    width: 100%;
    margin: 0 auto;
    
}

h1 {
    margin: 0;
    padding-left: 15%;
    padding-top: 20px;
    color: white;
}

.icon {
    padding: 10px 10px;
    position: absolute;
}